
@{
    ViewBag.Title = "Profile Account";
}

<div class="box box-primary">
    <a href="~/Account/InputProfile" class="btn btn-app pull-right"style="min-width:40px; min-height:0px; padding:0px; height:35px" >
        <i class="fa fa-edit" style="font-size:10px"></i> Edit
    </a>
    <img class="profile-user-img img-responsive img-circle" src="~/Themes/AdminLTE/dist/img/76967065_582866618922221_692346855509458944_n.jpg" alt="User profile picture">
    <div class="form-horizontal">
        <div class="box-body" style="width:800px; margin:auto auto;font-size:20px">
            <div class="form-group " style="margin:10px 280px;width:800px;">
                <label class="col-sm-2">Username:</label>

                <span> Huu Xa</span>

            </div>
            <div class="form-group " style="margin:10px 280px;width:800px;">
                <label class="col-sm-2">Full Name:</label>
                <span>Tran Huu Xa</span>
            </div>
            <div class="form-group " style="margin:10px 280px;width:800px;">
                <label class="col-sm-2">Email:</label>
                <span>admin@abc.com</span>
            </div>
            <div class="form-group " style="margin:10px 280px;width:800px;">
                <label class="col-sm-2">Phone:</label>
                <span>03456789</span>
            </div>
            <div class="form-group " style="margin:10px 280px;width:800px;">
                <label class="col-sm-2">address:</label>
                <span>TT Huế</span>
            </div>

        </div>
        <!-- /.box-body -->
        <!-- /.box-footer -->
    </div>
</div>
