<li>
    <a href="~/dashboard">
        <i class="fa fa-calendar"></i> <span>Dashbrand</span>
        <span class="pull-right-container">
            <small class="label pull-right bg-red"></small>
            <small class="label pull-right bg-blue"></small>
        </span>
    </a>
</li>
