
@{
    ViewBag.Title = "Manage Product";
    //int i = 1;
}
<div class="box box-primary">

    <!-- /.box-header -->
    <!-- form start -->

    <div class="box-body">
        <form action="~/catalogproduct" method="get">
            <div class="input-group input-group-sm">
                <input type="text" name="searchValue" class="form-control" placeholder="Input search value...">
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-primary btn-flat">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
    </div>
    <!-- /.box-body -->
</div>
<div class="container-fluid row" style="padding-bottom:10px">
    <div class="col-sm-8">
        there are <b>1000</b>  Product. Page 1/12
    </div>
    <div class="col-sm-4 text-right">
        <div class="btn-group">
            <a href="~/catalogproduct/Input" class="btn btn-sm btn-primary">Add Customers</a>
            <button type="button" class="btn btn-sm btn-danger">Delete Customers</button>

        </div>
    </div>
</div>
<div class="box box-success">
    <div class="box-body">
        <table class="table table-bordered table-hover dataTable">
            <thead>
                <tr>
                    <th style="width:30px">
                        <input type="checkbox" />
                    </th>
                    <th style="width:50px">
                        #
                    </th>
                    <th style="width:50px">
                        Name
                    </th>
                    <th style="width:10px">
                        SupplierID
                    </th>
                    <th style="width:10px">
                        CategoryID
                    </th>
                    <th style="width:auto">
                        Quantity per unit
                    </th>
                    <th style="width:auto">
                        Unit  price
                    </th>
                    <th style="width:auto">
                        Descriptions
                    </th>
                    <th style="width:auto">
                        Photo Path
                    </th>
                    <th style="width:80px">

                    </th>
                </tr>
            </thead>
            <tbody>
                @for(int i =1; i <0; i++)
                {
                    <tr>
                        <td>
                            <input type="checkbox" />
                        </td>
                        <td>@i</td>
                        <td>
                            <span style="width:50px;color:#0094ff; font-weight:bold; display:block">huuxa</span>
                        </td>
                        <td>
                            <span>1lierID</span>

                        </td>
                        <td>
                            <span>1</span>

                        </td>
                        <td>
                            <span>2</span>

                        </td>
                        <td>
                            <span>1000</span>

                        </td>

                        <td>
                            <span style="display:block">các kiểu các kiểu</span>
                        </td>
                        <td>
                            <span><img src="fb.com/xatranhuu98" /></span>

                        </td>
                        <td class="text-right">

                            <a class="btn btn-sm btn-default" href="~/catalogproduct/Input/@i">
                                <i class="fa fa-edit"></i>
                            </a>
                        </td>
                    </tr>}

            </tbody>
        </table>
    </div>
    <div class="box-footer clearfix">
        <ul class="pagination pagination-sm no-margin pull-right">
            <li><a href="~/catalogproduct?page=1">«</a></li>
            <li><a href="~/catalogproduct">1</a></li>
            <li><a href="~/catalogproduct">1</a></li>
            <li><a href="~/catalogproduct">1</a></li>
            <li><a href="~/catalogproduct">1</a></li>


            <li><a href="~/catalogproduc">»</a></li>
        </ul>
    </div>
</div>







